/* src/App.css */
.admin-app {
  display: flex; /* Dàn hàng ngang */
  min-height: 100vh;
  background-color: #F9F9FF;
}

/* Sidebar bên trái */
.sidebar-wrapper {
  width: 260px; /* Độ rộng sidebar */
  flex-shrink: 0; /* Không cho sidebar bị co lại */
}

/* Nội dung bên phải */
.content-wrapper {
  flex: 1; /* Chiếm hết không gian còn lại */
  display: flex;
  flex-direction: column;
}